version: 2.1

jobs:
  build: 
    docker:
      - image: cimg/node:15.1
    steps:
      - checkout
      - run: npm i
  test:
    docker:
      - image: cimg/node:15.1
    steps:
      - checkout
      - run: npm i
      - run: npm run test
  analyse:
    docker:
      - image: cimg/node:15.1
    steps:
      - checkout
      - run: npm audit

workflows:
  orb-free-workflow:
    jobs:
      - build
      - test:
          requires:
           - build
      - analyse:
          requires:
            - test


